.game__card {
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background-color: rgb(40, 40, 41);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 767px) {
  .game__card {
    width: 50px;
    height: 50px;
  }
}
