.popup__title {
  margin: 0;
  padding: 0;
  font-size: var(--title-size);
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 900;
  font-family: 'Nekst-Black', Arial, Helvetica, sans-serif;
}
